$dashboard-color: #21df10;
$lessonView-color: #3fb427;
$lessonComp-color: #3384aa;

.dashContainer {
    
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 1rem;

    
    .lessonContainer {
        background-color: $lessonView-color;
        width: 90%;
        margin-top: 1rem;
        padding: 1rem;

        .viewSelect {
           
            margin-bottom: .5rem;
            display: flex;
            flex-direction: column;
            
            .lessonViewSelectHeader {
                font-weight: bold;
                margin-bottom: .2rem;
            }
            .radioContainer {
                width: 60%;

                .radioForm {
                    display:flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                }
            }
        }

        .lessonTable {
            
            margin-bottom: .5rem;
              th {
                border: 1px solid black;
              }
                
              td {
                text-align: center;
                border: 1px solid black;
              }
        }

        .lessonControl {
           
            max-width: 50%;
            
            .lessonViewControl {
                display: flex;
                flex-direction: column;
                padding: .4rem;
                border: 1px solid #000000;

                .studentLink {
                    display: flex;
                    margin-bottom: .5rem;

                    .studentName {
                        font-weight: bold; 
                        margin-right: .3rem; 
                    }
                }

                .lessonViewControlBottom {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    

                    .lessonViewControlLeft {
                        display: flex;
                        flex-direction: column;

                        .topicContainer {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: .5rem;

                            .topicTitle {
                                font-weight: bold;
                                margin-right: .3rem;
                            }
                        }
                        .attachmentContainer {
                            display: flex;
                            flex-direction: row;
                            padding: .2rem;
                            border: 1px solid #000000;
                            max-width: fit-content;
                            .attachmentTitle {
                                font-weight: bold;
                                margin-right: .3rem;
                            }
                        }
                    }  
                    
                    .lessonViewControlRight {
                        display: flex;
                        flex-direction: column;
                        padding: .3rem;

                        .lessonViewControlForm {
                            display: flex;
                            flex-direction: column;
                        
                            .lessonViewControlAccept {
                                margin-right: .5rem;
                            }
                            
                            .lessonViewControlRadio {
                                margin-bottom: .3rem;
                            }
                            .lessonViewControlText {
                                margin-bottom: .3rem;
                            }
                            .lessonViewControlSubmitContainer {
                                width: 90px;

                                .lessonViewControlSubmit {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

       
    }
}