$cal-color: #3fb427;
$calComponent-color: #999999;
$calItem-color: #123456;
$calItemInner-color: #c9328f;



.calContainer {
    background-color: $cal-color;
    border: 3px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 45vh;

    .weekContainer {
        display:flex;
        background-color: $calComponent-color;
        width: 90%;
        height: 80%;
        margin-top: .7rem;
        align-items: center;
        justify-content: space-evenly;

        .dayContainer {
            background-color: $calItem-color;
            height:80%;
            flex-basis: 13%
        }
        .calDay {
            display:flex;
            flex-direction: column;
            margin-top: .3rem;
            padding-left: .3rem;
            padding-right: .3rem;

            .timeSlot {
                margin-bottom: .3rem;
            }
        }
    }

    .dateSlide {
        background-color: $calComponent-color;
        margin-top: .3rem;
        height:10%;
        width: 25%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        .slideText {
            display: flex;
            align-items: center;
        }
    }
    
}
